@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

*{
  font-family: 'Nunito', sans-serif;
  color: #525252;
}
body{
  background-color: #F2F2F2
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;

}

